html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* 给左侧菜单设置样式 */
.el-submenu__title ,
.el-menu-item {
    font-size: 13px;
}
/* 字体图标 */
i.iconfont{
    margin-right: 10px;
}
/* 卡片区 */
.box-card{
    margin-top: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
/* 分页样式 */
.el-pagination{
    margin-top: 15px;
    font-size: 12px;
}